.navbar{
  margin-top: 0.5rem;
  text-align: right;
}

.navbar a{
  color: #ffffff;
}

.navbar-brand{
  font-size: 1.6rem;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #337ab7;
    color:#000000;
}

h1{
	margin-top: 0;
}

#home .home-thumb {
    text-align: center;
    margin-bottom: 15px;
}

#home-thumb{
	margin-top: 15px;

}

li{
	color: #828282;
    letter-spacing: 0.8px;
    line-height: 28px;
}

.justify{
	text-align: justify;
}